.preview {
  width: 19vw;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  min-width: fit-content;
  background-color: #ff0000;
}

.slidePreview {
  transform-origin: top left;
  margin-bottom: 1rem;
  min-width: fit-content;
}
