.preview {
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  max-width: inherit;
  background-color: #ff0000;
}

.slidePreview {
  transform-origin: top left;
  margin-bottom: 1rem;
  max-width: inherit;
}
