.preview {
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  max-width: inherit;
}

.slidePreview {
  transform-origin: top left;
  width: 2rem;
  margin-bottom: 1rem;
  /*border: 5px solid #aaaaaa;*/
  /*border-radius: 0.3rem;*/
}

/*.slidePreview div {*/
/*  border: none;*/
/*}*/
