.layout {
  height: 85svh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
}

.editor {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(100vw - 17.9rem);
  border-left: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
}

.preview {
  height: inherit;
  min-width: 17rem;
}
